<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>Cadastro</h2>
    <p>
      <a href="/login" class="botao-secundario">Login</a>
    </p>
    <hr>

    <h1>Cadastro</h1>

    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>

    <form method="POST" action="/register">
      <input type="text" name="nome" placeholder="Nome completo" required /><br />
      <input type="email" name="email" placeholder="Email" required /><br />
      <input type="password" name="senha" placeholder="Senha" required /><br />
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
